{% extends "admin/base.html" %}
{% load static %}

{% block title %}INVENTORY SYS{% endblock %}

{% block branding %}
<h1 id="site-name">
    <img src="{% static 'images/logo.png' %}" alt="Logo" height="32" style="vertical-align: middle; margin-right: 10px;">
    <span style="color:#f1c40f;">INVENTORY SYS</span>
</h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
    <script src="{% static 'js/admin_ui.js' %}"></script>
{% endblock %}

